.hidden {
  opacity: 0;
}

.mainContainer div {
  border: solid 2px rgb(77, 77, 77);
  padding: 8px;
  margin: 16px;
}
.mainContainer span {
  display: block;
  margin: 16px;
}
.mainContainer h1 {
  text-align: center;
  font-size: 2.4rem;
}

body {
  font-family: monospace;
  max-width: 968px;
  background-color: rgb(45, 45, 45);
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
}